main.page-wrapper.page-wrapper_enter
  .enter-box
    .enter-box__main
      h1.enter-box__title !{title}
      | !{inputName}
      | !{inputPassword}

    .enter-box__footer
      | !{loginButton}
      //- | !{exitButton}
      span.enter-box__message(class=authStatus? authStatus : false) !{authMessage}
      a(href="/register") Нет аккаунта?



