
.chat-main
  div.modal(id="addNewUSerToChat")
    .modal__content
      .modal__header
        | !{modalCloseBtn}
      .modal__body
        | !{inputAddUserToChat}
        | !{modalBtnAddUserToChat}
  if selectedChat
    header.chat-main__header
      | !{btnAddUserToChat}
      .chat-main__companion
        //- img.chat-main__companion-picture(src=chatData.ownerPicture)
        //- .chat-main__companion-name= chatData.ownerName

        //- li.chat-main__list-item
        //-   .message-box
        //-    .message-box__data= item.data
        //-    .message-box__time= item.time
    .chat-main__list
      each item in messages
        | !{item}
      else
        | Сообщения не найдены!

    footer.chat-main__footer
      | !{input}
      | !{button}

  else
    |  Выберете чат
